/* general */
@font-face {
    font-family: "Komakyar";
    src: url("../fonts/Komakyar.woff") format("woff");
}

body {
    font-family: Komakyar;
    direction: rtl;
    text-align: right;
}

.full-height {
    height: 100vh;
}

a {
    color: #777777;
}

a:hover {
    color: #1473E6;
    text-decoration: none;
}

.d-ltr {
    direction: ltr !important;
}

.d-rtl {
    direction: rtl !important;
}

.border-radius-komakyar {
    border-radius: 15px;
    overflow: hidden;
}

.btn-border-radius {
    border-radius: 35px;
}

.lh-inherit {
    line-height: inherit;
}

.bg-komakyar {
    background: #1473E6;
    color: #fff;
}

/* header style */
header {
    margin-bottom: 3em;
}

.logo {
    width: 150px;
}

.navbar {
    background: #fff;
    padding: 1.5rem 1rem;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.btn-nav {
    border-radius: 100px;
    padding: 15px 25px;
    margin: 0 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    color: #9F9595;
    background: #fff;
}

.icon-user {
    border-radius: 100px;
    padding: 15px 0;
    margin: 0 5px 0 0;
}

.page-head {
    padding-bottom: 20px;
}

.page-head .h1,
h1 {
    font-size: 1.5em;
    font-weight: 800;
}

/* footer style */
footer {
    margin-top: 4em;
    padding: 20px 0;
}

footer .social a {
    margin-left: 10px;
}

/* home page style */
.community {
    background: #1473E6 url(../img/community.png) no-repeat center bottom;
    background-size: cover;
    text-align: center;
    padding: 0;

}

.community h1 {
    color: #fff;
    padding: 2em 2em 0em 2em;
    margin: auto;
    margin-top: calc(100%/2 - 30%);
    font-size: 50px;
}

.community p {
    margin-top: 20px;
    color: #fff;
}

.community-content {
    background-image: linear-gradient(#1473e6, #1473e6, #1473e6, #1473e6de, transparent);
    padding-bottom: 12em;
}

.community-login {
    background: url(../img/community-dark.png) no-repeat center bottom;
    background-size: cover;
    text-align: center;
    padding: 0;
}

.community-login p {
    margin-top: 20px;
    color: #fff;
}


.community-login-content h1 {
    color: #262626;
    padding: 2em 2em 0em 2em;
    margin: auto;
    margin-top: calc(100%/2 - 30%);
    font-size: 50px;
    margin-bottom: 10px;
}
.community-login-content h2 {
    font-size: 20px;
    color: #656d75;
}

.map {
    width: 80%;
    margin: 0 auto;
    display: block;
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

object.map {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(70%);
}



/* page style */
.page {
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 35px 25px;
    overflow: hidden;
}

.page p {
    margin-bottom: 2em;
}

.page-content .list-group-item {
    border-right: 0 !important;
    border-left: 0 !important;

}

/* form style */

.form-group input,
textarea {
    padding: 25px 20px !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px !important;
}

.form-group select {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px !important;
}

.btn-komakyar {
    background: #1473E6;
    border-radius: 35px;
    padding: 8px 40px 8px 40px;
    color: #fff;
}

.btn-komakyar:hover {
    color: #fff;
    background: #0a4fa2;
}

.btn-komakyar-sm {
    background: #1473E6;
    border-radius: 35px;
    color: #fff;
    padding-right: 15px;
    padding-left: 15px;
}

.btn-komakyar-sm:hover {
    color: #fff;
    background: #0a4fa2;
}

.btn-komakyar-sm-b-radius {
    border-radius: 35px;
}

.form-group select {
    font-size: 1rem !important;
}

.frm-provinces option {
    direction: ltr;
}

.frm-provinces option:first-child {
    direction: rtl;
}

.frm-login {
    vertical-align: bottom;
    min-height: 100vh;
    display: inline-grid;
    align-items: center;
}

.frm-login .btn {
    background: #000;
}

.frm-login .btn:hover {
    background: #100f0f;
}

.frm-login-links {
    float: right;
    padding: 8px 0 8px 40px;
}

.frm-login-links a {
    color: #fff;
}

.frm-login-links a:hover {
    color: #100f0f;
}

.frm-verification {
    position: relative;
}
.frm-verification button{
    position: absolute;
    top: 15px;
    left: 20px; 
    padding: 0;
}

/* panel style */
.user-img {
    display: block;
    text-align: center;
}

.user-img img {
    border-radius: 100px;
}

.user-panel {
    padding: 0;
}

.user-panel .page-head {
    padding: 20px 0;
}

.list-group {
    border-radius: 15px;

}

.border-radius-komakyar-table {
    border-radius: 15px;
    overflow: hidden;
}

/* ad style */
.ad-head h2 {
    font-size: 20px;
    font-weight: 900;
}

.ad-head p {
    font-size: 15px;
    font-weight: 500;
    color: #616161;
}

.ad-body p {
    font-size: 14px;
    font-weight: 200;
    color: #616161;
    text-align: justify;
}

.ad-body ul {
    direction: ltr;
    text-align: left;
    margin: 0;
    padding: 0;
}

.ad-body,
i {
    color: #424242;
}

.ad-body ul li {
    list-style: none;
    color: #424242;
    display: inline-block;
    margin: 0 10px 5px 0;
    background: #F5F5F5;
    padding: 5px 5px;
}

.ad-body ul li a {
    color: #424242;
}

.ad-body ul li a:hover {
    color: #212121;
}

.ad-code span,
.ad-code i {
    color: #1473E6 !important;
}
.ad-body ul li i {
    margin-right: 5px;
}
ul.ads-category {
    padding: 0;
    margin: 0;
    text-align: center;
}
ul.ads-category li{
    font-size: 14px;
    display: inline-block;
    background: #f1f1f1;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 4px;
}
ul.ads-category li:hover {
    background: #1473E6;
    color: #fff;
    cursor: pointer;
}
ul.ads-category li:hover a {
    color: #fff;
}
